@import url('https://fonts.googleapis.com/css2?family=Abel&family=Source+Code+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

input {
  font-family: 'Abel';
}

.navbar-brand{
  width: auto;
  max-width: 100%;
  max-height: 100px;
  padding: 0;
}

#header-nav {
  padding: 0;
}

.register-container,
.login-container,
.profile-form-container{
  background: url("../images/kpf_dumbbells.jpeg") no-repeat;
  height: 100vh;
  background-size: 100%;
  padding-top: 5em;
}

.register-form,
.login-form,
.profile-form{
  background-color: white;
  opacity: .94;
  padding: 1em;
  font-family: 'Abel';
  font-weight: bold;
  font-size: 20px;
}

.logout {
  all: unset;
  /* border: solid black 1px; */
  padding: 3px 10px;
  font-family: 'Abel';
  font-weight: bolder;
  font-size: 18px;
  margin-top: 1em;
  /* background-color: black; */
  /* color: white; */
}

.logout:hover {
  background-color: #f9010e;
  color: black;
}

.landing-body {
  display:flex;
  height: 85vh;
  background: url("../images/kpf_dumbbells.jpeg") no-repeat;
  background-size: 100%;
}

#landing-welcome {
  text-align: center;
  background-color: black;
  font-size: 28px;
  margin: 1em;
  font-family: 'source code pro';
  font-weight: 300;
}

.landing-body section {
  width: 70%;
  padding: 2em;
  font-size: 72px;
  font-family: 'Abel', sans-serif;
  font-weight:900;
  color: white;
  opacity: .95;
  text-align: right;
}

.landing-body aside {
  width: 30%;
  height: 15em;
  margin-top: 12em;
  margin-right: 10em;
  padding: 1em;
  background-color: white;
  opacity: .92;
}

.landing-body h4 {
  font-family: 'Abel', sans-serif;
  margin: 10px;
  text-align: center;
  font-size: 32px;
}

.landing-body a{
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  font-weight: bold;
  border: solid black 1px;
  padding: 5px;
  color:white;
  background-color: black;
  font-size: 20px;
}

.landing-body a:hover {
  background-color: #f9010e;
  border: solid #f9010e 1px;
}

.landing-atag {
  text-align: center;
  margin-bottom: 1em;
}

.dashboard-main {
  display: flex;
  flex-direction: row;
  background: url("../images/kpf_dumbbells.jpeg") no-repeat;
}

.dash-header {
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

#dashboard-btn a{
  list-style-type: none;
  color:black;
  text-decoration: none;
  margin-right: 1em;
  background-color: white;
  padding: 3px;
  display: flex;
  font-family: "Abel";
  font-weight: bold;
}

#dashboard-btn a:hover {
  color: white;
  background-color: #f9010e;
  font-family: 'Source Code Pro';
  font-weight: bold;
}

.daily-cal {
  width: 70%;
  margin: 2em;
  font-family: 'Abel';
  background-color: white;
  opacity: .94;
  padding: 1.5em;
}

.task-container {
  display: flex;
  flex-direction: column;
  margin: 2em;
  background-color: white;
  opacity: .94;
  padding: 2em;
  height: 100%;
}

.task-item label{
  padding: 5px;
  font-family: 'Abel', sans-serif;
}

.edit-task-btn,
.edit-workout-btn {
  font-family: 'Abel', sans-serif;
  background-color: white;
  font-weight: bold;
  border: none;
  margin-right: 4px;
}

.edit-task-btn:hover,
.edit-workout-btn:hover {
  color:#f9010e;
}

.delete-task-btn,
.delete-workout-btn {
  background-color: white;
  color: black;
  border:none;
}

.delete-task-btn:hover,
.delete-workout-btn:hover {
  color:#f9010e;
}

.add-task-btn {
  all: unset;
  font-family: 'Abel';
  margin-right: 0;
}

.add-task-btn:hover {
  color: #f9010e;
}


.add-workout-btn {
  all: unset;
  background-color: white;
  color: black;
  font-family: 'Abel';
  opacity: .94;
  font-size: 24px;
}

.add-workout-btn:hover {
  color: #f9010e;
  opacity: .92;
  
}

.save-workout-btn,
.save-task-btn {
  all: unset;
  margin-left: 6px;
  font-weight: bold;
}

.save-workout-btn:hover,
.save-task-btn:hover {
  color: #f9010e;
}

.task-container h4 {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
  font-size:32px;
}

#dash-nav {
  column-gap: 10em;
}

#dash-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

#dash-nav a:hover,
#dash-nav a:active {
  color: black;
  background-color:#f9010e;
  font-family: "Abel";
  font-weight: bold;
  padding: 5px;
}

.monthly-cal {
  padding: 1em 3em 1em 3em;
  font-family: 'source code pro';
  font-weight: bolder;
  background: url("../images/kpf_empty.jpeg") no-repeat; 
  height: 100%;
}

.rbc-calendar {
  background-color: white;
  opacity: .94;
  padding: 1em;
}

h2 {
  text-align: center;
  margin-top: 3px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}

.client-photo {
  object-fit: cover;
  height: 90px;
  width: 90px;
  margin-right: 10px;
}

.client-profile {
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
  opacity: .94;
  margin: 0;
}

.client-search {
  width: 25%;
  margin-top: 5px;
}

.client-detail-column {
  break-inside: avoid;
  page-break-inside: avoid;
}

.client-container {
  background: url("../images/kpf_rowers.jpeg") no-repeat; 
  background-size: cover;
  /* justify-content: center; */
}

.client-list {
  margin: 2em 2em 0 6em;
  column-count: 3;
  padding-bottom: 2em;
}

.client-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.client-nav a {
  text-decoration: none;
  color:black;
  display: flex;
  justify-content: center;
  border: black solid 1px;
  width: 25%;
  margin: 5px;
  padding: 5px;
  font-family: 'Source Code Pro';
  font-weight: bolder;
  background-color: white;
}

.client-nav a:hover,
.client-nav a:active {
  background-color:black;
  color: white;
  font-weight: bolder;
}

.workout-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  padding-top: 2em;
  background: url("../images/kpf_empty.jpeg") no-repeat;
  background-size: 100% no-repeat;
}

.workout-edit-box {
  margin-top: 10px;
}

.class-list h3,
.workout-list h3{
  position: sticky;
  top:0;
  font-family: 'Abel';
  font-weight: bold;
  background-color: white;
  opacity: .94;
  padding-top: 10px;
  font-size: 32px;
}

.workout-list {
  margin: 1em;
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: .94;
  overflow: scroll;
  padding: 0 2em 2em 2em;
  width: 35%;
}

.workout-header {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.class-list {
  margin: 1em;
  overflow: scroll;
  background-color: white;
  opacity: .94;
  padding: 0 2em 2em 2em;
  width: 35%;
}

.workout {
  margin-bottom: 1em;
  padding:10px;
  font-family: 'Abel';
  text-align: left;
  font-size: 20px;
}

.workout-date {
  font-family: "source code pro";
  font-weight: bolder;
  font-size: 24px;
}

.session {
  font-family: 'Abel';
  display:flex;
  justify-content: space-between;
  padding-right: 7em;
}

.session button{
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: black solid 1px;
}

.session button:hover {
  background-color: #f9010e;
  border: none;
}

.session p{
  margin-bottom: 0;
}

.session time{
  font-style: italic;
  font-size: 18px;
  
}

.session-day {
  font-family: 'Source Code Pro';
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid black 2px;
}

#session-title {
  font-weight: bold;
}

input[type='text']:disabled {
  border: none;
  color: #000;
  background: transparent;
  font-weight: bolder;
}

.btn-danger {
  background-color: #f9010e;
  border-color: #f9010e;
  font-size: 18px;
  font-weight: bold;
  font-family: "abel";
}

.btn-success,
.btn-info,
.btn-dark,
.btn-warning {
  font-size: 18px;
  font-weight: bold;
  font-family: "abel";
}

.rbc-toolbar-label {
  font-size: 24px;
  font-weight: bold;
}

.clientprofiles {
  width: 85%;
}

.footer {
  text-align: center;
  font-family: 'Abel';
  font-weight: bold;
}

.workout-text {
  white-space: pre-wrap;
}

@media(max-width: 768px) {
  .dashboard-main {
    flex-direction: column;
    align-content: center;
  }
}


@media(max-width: 768px) {

  #calendar .weekdays, #calendar .other-month {
    display: none;
  }

  #calendar .date {
    float: none;
  }
}