* {
  box-sizing: border-box;
}

.landing-body {
  display:flex;
}

.landing-body section {
  width: 75%;
  padding: 2em;
  font-size: 72px;
}

.landing-body aside {
  width: 25%;
  height: 100%;
  border: black solid 1px;
  margin: 2em;
  padding: 2em;
}